{% extends "base.html" %}
{% block title %}Prepare Your Repository for LeetCode Solutions{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/static/css/logged.css">
{% endblock %}
{% block content %}
<main class="main-container">
    <img src="{{user.avatar_url}}" alt="Github User Image" class="user-avatar">
    <span>
        <p class="welcome-text">Welcome, </p>
        <h2 class="username">Rai-shwith !</h2>
    </span>
    <h1 class="setup-header">Let's set up your LeetCode Repository</h1>

    <section id="cardContainer" class="card-container">
        <article class="card">
            <div class="card-content">
                <p class="card-text">Is this a new repository, or are you adding to an existing one?</p>
                <section class="toggle-section">
                    <p>New</p>
                    <label class="toggle-switch">
                        <input type="checkbox" id="newOrOld">
                        <div class="toggle-switch-background">
                            <div class="toggle-switch-handle"></div>
                        </div>
                    </label>
                    <p>Existing</p>
                </section>
                <button onclick="scrollCard()" class="button">Next</button>
            </div>
        </article>

        <article class="card">
            <div class="card-content text-center">
                <p class="card-text">Enter the name of the GitHub repository for saving your solutions.</p>
                <section class="input-section">
                    <input type="text" id="repoName" name="repoName" value="LeetCode" placeholder="Enter Repo Name"
                        required />
                </section>
                <div class="button-group">
                    <button onclick="scrollCard(false)" class="button">Back</button>
                    <button onclick="scrollCard()" class="button">Next</button>
                </div>
            </div>
        </article>

        <article class="card">
            <div class="card-content text-center">
                <p class="card-text">Set the visibility of your Repository</p>
                <section class="toggle-section">
                    <p>Public</p>
                    <label class="toggle-switch">
                        <input type="checkbox" id="visibility">
                        <div class="toggle-switch-background">
                            <div class="toggle-switch-handle"></div>
                        </div>
                    </label>
                    <p>Private</p>
                </section>
                <div class="button-group">
                    <button onclick="scrollCard(false)" class="button">Back</button>
                    <button onclick="scrollCard()" id="finish" class="button">Finish!</button>
                </div>
            </div>
        </article>
    </section>
</main>
{% endblock %}
{% block javascripts %}
<script src="static/js/utils/script.js"></script>
<script src="static/js/logged/script.js"></script>
{% endblock %}