{% extends "base.html" %}
{% block title %}LEET2GIT{% endblock %}
{% block content %}
        <h1>Thank you for logging in</h1>
        <h1>Welcome to your profile, {{ user.login }}!</h1>
        <img src="{{ user.avatar_url}}" alt="" srcset="">
        <p>Here is some information about you:</p>
        <ul>
            <li>id: {{ user.id }}</li>
            <li>Email: {{ user.email }}</li>
        </ul>
            <label for="repo">Enter repo name</label>
            <input type="text" placeholder="LeetCode" id="repo" value="LeetCode">
            <button id="btn">Register</button>
{% endblock %}
{% block javascripts %}

<script>
    let btn = document.querySelector('#btn');
    btn.addEventListener('click', (e) => {
        let repo = document.querySelector('#repo').value;
        fetch(`/register/api?repo_name=${repo}`, {
            method: 'GET'
        }).then(response => { // response is the result of the fetch
            if (response.redirected) { 
                window.location.href = response.url; // redirect to the url
            }
        });
    });
</script>
    {% endblock %}