<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="static/images/logo.svg">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% block stylesheetsrc %}{% endblock %}">
</head>
<body>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 LEET2GIT</p>
    </footer>
    {% block javascripts %}{% endblock %}
</body>
</html>


